In [ ]:
num1 = int(input('num1 : '))
num2 = int(input('num2 : '))

num3 = num1/num2

print(num3)

num1 : 10
num2 : 5
2.0

In [ ]:
num1 = int(input('num1 : '))
num2 = int(input('num2 : '))

num3 = num1/num2

print(num3)

num1 : 10
num2 : 0

ZeroDivisionError: division by zero

In [ ]:
num1 = int(input('num1 : '))
num2 = int(input('num2 : '))

try:
   num3 = num1/num2
   print(num3)

except:
  print('an error exist')

num1 : 10
num2 : 0
an error exist

In [ ]:
num1 = int(input('num1 : '))
num2 = int(input('num2 : '))

try:
   num3 = num1/num2
   print(num3)

except ZeroDivisionError as v:
  print(v)

num1 : 6
num2 : 0
division by zero

In [ ]:
num1 = int(input('num1 : '))
num2 = int(input('num2 : '))

try:
   num3 = num1/num2
   print(num3)

except Exception as v:
  print(v)

num1 : 5
num2 : 0
division by zero

In [ ]:


num1 = int(input('num1 : '))
num2 = int(input('num2 : '))
try:
   num3 = num1/num2
   print(num3)

except:
  print(num3)

num1 : 7
num2 : n

ValueError: invalid literal for int() with base 10: 'n'

In [ ]:
try:

   num1 = int(input('num1 : '))
   num2 = int(input('num2 : '))
   num3 = num1/num2
   print(num3)

except ValueError as v:
  print(v)

num1 : 8
num2 : d
invalid literal for int() with base 10: 'd'

In [ ]:


try:
   num1 = int(input('num1 : '))
   num2 = int(input('num2 : '))

   num3 = num1/num2
   print(num3)

except Exception as v:
  print(v)

num1 : 9
num2 : g
invalid literal for int() with base 10: 'g'

In [ ]:
try:
   num1 = int(input('num1 : '))
   num2 = int(input('num2 : '))

   num3 = num1/num2
   print(num3)

except Exception as v:
  print(v)

else :
  print('there is no error')

finally :
  print('completed')

num1 : 56
num2 : 0
division by zero
completed

In [ ]:
try:
   num1 = int(input('num1 : '))
   num2 = int(input('num2 : '))

   num3 = num1/num2
   print(num3)

except Exception as v:
  print(v)

else :
  print('there is no error')

finally :
  print('completed')

num1 : 7
num2 : 7
1.0
there is no error
completed